.container {
  display: flex;
  flex-direction: row;
}
body {
  background-color: black;
}
.tasks {
  display: flex;
  flex-direction: column;
  background-color: rgb(227, 227, 232);
  border-radius: 20px;
  min-width: 500px;
  max-width: 50%;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  color: rgb(17, 22, 27);
  border: 2px solid black;
  box-shadow: inset 0 0 40px 2px rgb(80, 72, 72);
}
.tasks-title {
  text-align: center;
  color: #000000;
  font-weight: bold;
}
.answer {
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 208, 212);
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  min-width: 500px;
  max-width: 50%;
  padding: 10px;
  margin: 10px;
  color: rgb(86, 42, 56);
  text-shadow: 0 0 1px rgb(24, 12, 12);
  box-shadow: inset 0 0 60px 2px rgb(34, 27, 27);
  border: 2px solid black;
}
.answer-title {
  text-align: center;
  color: rgb(13, 10, 20);
}
.tasksjs {
  display: flex;
  flex-direction: column;
  background-color: #d3d3f1;
  font-size: 20px;
  font-weight: bold;
  color: rgb(135, 74, 136);
  border-radius: 20px;
  min-width: 1020px;
  max-width: 100%;
  padding: 20px;
  margin: 10px;
  border: 2px solid black;
  box-shadow: inset 0 0 40px 2px rgb(113, 87, 87);
}
.tasksjs-title {
  text-align: center;
  color: rgb(14, 13, 13);
}
.container li::selection {
  background-color: black;
  color: aliceblue;
}
.container h2::selection {
  background-color: black;
  color: aliceblue;
}
.tasksjs h2::selection {
  background-color: black;
  color: aliceblue;
}
.tasksjs li::selection {
  background-color: black;
  color: aliceblue;
}
